target/
test-output/
TestReports/
.settings/
LogReport/
.DS_Store
.classpath
.project
.idea/misc.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/vcs.xml
.factorypath
.idea/workspace.xml
.idea/snyk.project.settings.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
src/test/resources/config/application*


